<% content_for(:page_header) {"회원 등록"} %>

<%= bootstrap_form_for :user, url: '/users' do |f| %>
    <%= f.label :name, '웃대닉네임' %>
    <%= f.text_field :name, hide_label: true %>
    <h6>웃대 닉네임 인증은 웃대에 댓글을 단 것으로 인증하는 방식입니다.</h6>
    <h6>정확한 웃대 닉네임을 작성하지 않으시면 회원등록이 되지 않으니 이 점 참고하시기 바랍니다.</h6>
    <h5 style="color: red;">주의 : ip 검사를 통해 부계정 사용이 발견될 시 투표 박탈, 회원등록 불가능하게 하겠습니다.</h5>
    <%= f.label :password, '비밀번호' %>
    <%= f.password_field :password, hide_label: true %>
    <%= f.label :password_confirmation, '비밀번호 재확인' %>
    <%= f.password_field :password_confirmation, hide_label: true %>
    <%= f.submit "회원등록" %>
<% end %>