<% content_for(:page_header) do %>
  <%= "#{@user.name}의 프로필" %>
<% end %>

<h2>투표에 참여한 이력</h2>

<% @user.vote_options.each do |option| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= link_to option.poll.topic, poll_path(option.poll) %></div>
    <div class="panel-body">
      <%= option.title %>
    </div>
  </div>
<% end %>