<%= form_for @poll do |f| %>
  <%= render 'shared/errors', object: @poll %>

  <div class="form-group">
    <%= f.label :topic, "투표 주제" %>
    <%= f.text_area :topic, rows: 3, required: true, class: 'form-control' %>
    <br/>
    <%= f.label :close_time, "종료 시간" %>
    <%= f.datetime_select(:close_time, :ampm => true, default: 15.minutes.from_now) %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">옵션</div>
    <div class="panel-body">
      <%= f.fields_for :vote_options do |options_form| %>
        <%= render 'vote_option_fields', f: options_form %>
      <% end %>

      <div class="links">
        <%= link_to_add_association '옵션 추가', f, :vote_options %>
      </div>
    </div>
  </div>

  <%= f.submit '생성하기', class: 'btn btn-primary btn-lg' %>
<% end %>