<div class="nested-fields">
  <div class="form-group">
    <%= f.label :title, "항목" %>
    <%= f.text_field :title, class: 'form-control', required: true %>
    <%= f.file_field :image %>
  </div>
  <%= link_to_remove_association "옵션 제거", f %>
</div>