
<div class="card">
  <h4 class="card-header"><%= @poll.topic%></h4>
  <div class="card-body">
    <% if @user_setting.is_ban %>
      <h3>당신은 중복 계정 생성이 의심되어 밴 처리가 되었습니다.</h3>
      밴이 되신 회원은 투표에 참여하실 수 없습니다.<br>
      자세한 사항은 '이즈미남편'에게 쪽지로 문의하세요.
    <% else %>
      <%= render 'voting_form' %>
    <% end %>
  </div>


</div>



<script data-turbolinks-track="true">
  $(document).ready(function() {
    var voting_form = $('#voting_form');
    voting_form.validate({
      focusInvalid: false,
      errorClass: 'alert alert-warning',
      errorElement: "div",
      errorPlacement: function(error, element) { voting_form.before(error); },
      rules: {
        'vote_option[id]': {
          required: true
        }
      },
      messages: {
        'vote_option[id]': {
          required: "하나만 선택하세요."
        }
      }
    });
  });
</script>