<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>만게 투표</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'countdown' %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-brand">
        <%= link_to '만게 투표', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <% if current_user %>
          <% if UserSetting.find_by_user_id(current_user).is_admin %>
            <li><%= link_to '투표 추가', new_poll_path, class: "nav-item nav-link" %></li>
            <li><%= link_to '투표 이력', '/polls/info', class: "nav-item nav-link" %></li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li><%= link_to current_user.name, user_path(current_user), class: "nav-item nav-link" %></li>
          <li><%= link_to '로그아웃', '/logout', class: "nav-item nav-link" %></li>
        <% else %>
          <li><%= link_to '로그인', '/login', class: "nav-item nav-link" %></li>
          <li><%= link_to '회원등록', '/signup', class: "nav-item nav-link" %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <div class="page-header">
    <h1><%= yield :page_header %></h1>
  </div>

  <%= yield %>
</div>


<div id="footer">

    <p class="text-muted">Created by 이즈미남편</p>
  </div>
</div>

</body>
</html>